DATABASE_URL=https://jxegwzsbhaycexvzvbfc.supabase.co:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:Launch136.Mono@db.jxegwzsbhaycexvzvbfc.supabase.co:5432/postgres
AUTH_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4ZWd3enNiaGF5Y2V4dnp2YmZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNjY4MzYsImV4cCI6MjA4ODY0MjgzNn0.rw7QU95Fz3DR3GqH693-gPOq3fHAVR751EGP1ocTFnY
NEXTAUTH_URL=http://localhost:3000
